/* IMPOSTAZIONI GENERALI */
.container{
    height: 100%;
    width: auto;
    background: none url(../img/sfondo.png) repeat fixed center center;
}
/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
